.hero {
    background-color: #f0c871;
    background-image: url("https://www.transparenttextures.com/patterns/straws.png");
    height: 35vh;
    width: 100%;
    padding: 100px;
    text-align: center;
    font-family: onePiece;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 30px;
}

/* @font-face {
    font-family: onePiece;
    src: url(one-piece-font.ttf); */
/* } */