.hero {
    height: 50vh;
    width: 100%;
    padding: 130px;
    text-align: center;
    font-family: onePiece;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 35px;
}

/* @font-face {
    font-family: onePiece;
    src: url(one-piece-font.ttf); */
/* } */