.footer {
    position: relative;
    height: 50px;
    background-color: rgb(183, 216, 38);
    width: 100%;
}

.footer-title {
    position: absolute;
    bottom: 0;
    font-size: 22px;
    text-align: center;
}